.offer-section {
  padding: 20px;
  background-color: #ddd;
  color: #666666;
}

.offer-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.option {
  background-color: #eee;
  border: 2px solid #ddd;
  box-shadow: 2px 2px #ddd;
  height: 15rem;
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: all 0.8s;
}

.option:hover {
  background: #ffb34e;
}

.option-text i,
.option-text p {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #666666;
}
