.about-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem;
}

.image-container {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 250px;
  height: auto;
  margin: 1rem;
}

.about-description {
  flex-basis: 0;
  flex-grow: 1;
  margin: 1rem 2rem;
}

.about-description p {
  padding: 0 1rem 2rem 1rem;
}
